// sass/_reset.scss
// Reset global

@use 'variables' as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-family;
}

body {
    background-color: v.$color-background;
}

li {
    list-style: none;
}
