// ═══════════════════════════════════
// layout/_header.scss
// Estilos do cabeçalho
// ═══════════════════════════════════

@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

header {
  background-color: v.$color-primary;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    @include m.flex-between;
    padding: v.$spacing-sm 0;
  }
}

.menu {
  display: flex;

  li {
    font-weight: v.$font-weight-bold;
    margin-left: v.$spacing-md;

    a {
      color: v.$color-white;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
